.mgc_filter_line::before {
  font-size: 2rem;
}

.dropdown-toggle:empty::after{
  display: none;
}

.dropdown-toggle {
  height: 100%;
  border: 1px solid #013c5e;
}

button::after {
  display: none;
}

.custom{
  width: 5rem;
}