/* 
Personalização das variáveis e classes padrão do Sass do Bootstrap

A maioria das variáveis no Bootstrap são definidas com a flag `!default`,
permitindo substituir os valores padrão antes de importar os arquivos Sass de origem do Bootstrap.
Essa é a melhor maneira de personalizar o CSS sem escrever novos estilos.

Por exemplo, podemos alterar `$body-color` ou adicionar mais CSS que
substitua as regras de estilo do Bootstrap, como `body { color: red; }`.

Aqui estamos ajustando a font-family e background-color que serão aplicados ao corpo do site.
*/

$font-family-base: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica";
$body-bg: #ebebeb;
$body-color: #09244b;
$primary: #013c5e;

@import "bootstrap/scss/bootstrap";

//
// Para mais personalização, podem ser criadas mais variáveis e classes para aplicar aos elementos.
//

// Novas variaveis
$blue-ancora-2: #09244b;
$blue-ancora-1: #013c5e;
$white-ancora-1: #ffffff;

// Alteração de uma propriedade de uma classe do bootstrap,
// As demais propriedades são mantidas, para não precisar reescrever tudo.
.btn-primary {
  color: $white-ancora-1;
}
