/* 
Personalização das variáveis e classes padrão do Sass do Bootstrap

A maioria das variáveis no Bootstrap são definidas com a flag `!default`,
permitindo substituir os valores padrão antes de importar os arquivos Sass de origem do Bootstrap.
Essa é a melhor maneira de personalizar o CSS sem escrever novos estilos.

Por exemplo, podemos alterar `$body-color` ou adicionar mais CSS que
substitua as regras de estilo do Bootstrap, como `body { color: red; }`.

Aqui estamos ajustando a font-family e background-color que serão aplicados ao corpo do site.
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-family-base: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica";

$body-bg: #ebebeb;
$body-color: #09244b;

//Colors
$white: #fff;
$primary: #013c5e;
$red: #ce0e2d;
$gray-100: #b1b1b1;
$bg-slate-50: #f8fafc;
$bg-slate-100: #f1f5fc;

//Form-control
$input-font-size: 1.5rem;

$input-btn-padding-y: 0.675rem;
$input-btn-padding-x: 1rem;

$input-bg: $white;
$input-border-color: $primary;

$input-border-radius: 0.15rem;
$input-border-radius-sm: 0.225rem;
$input-border-radius-lg: 0.325rem;

$input-focus-bg: $white;
$input-focus-border-color: 0;
$input-focus-color: 0;
$input-focus-width: 1;
$input-focus-box-shadow: 0;

//Border
$border-color: $gray-100;

//Button
$btn-padding-y-lg: 0.8rem;
$btn-padding-x-lg: 1.7rem;

// $btn-border-radius:           0.15rem;
// $btn-border-radius-sm:        0.225rem;
$btn-border-radius-lg: 0.225rem;

@import "bootstrap/scss/bootstrap";

//Reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
strong,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

//Body
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(238, 236, 236, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  user-select: none;
}

//
// Para mais personalização, podem ser criadas mais variáveis e classes para aplicar aos elementos.
//

// Novas variaveis
// Color
$blue-ancora-2: #09244b;
$blue-ancora-1: #013c5e;

$white-ancora-1: #ffffff;

// Alteração de uma propriedade de uma classe do bootstrap,
// As demais propriedades são mantidas, para não precisar reescrever tudo.
.btn-primary {
  color: $white-ancora-1;
}

// Container para telas iniciais
.container-1 {
  height: 100vh;
  border-top: 8px solid $blue-ancora-2;
  border-bottom: 8px solid $blue-ancora-2;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

//Conversar sobre
.container-identify {
  height: 100vh;
  border-top: 0.5rem solid $blue-ancora-2;
  border-bottom: 0.5rem solid $blue-ancora-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

.brand {
  width: 130px;
}

.required::after {
  content: " *";
  color: $red;
}

.active-link {
  background-color: #013c5e;
}

.active-icon::before {
  color: $white !important;
}

.inactive-icon::before {
  color: $gray-100 !important;
}

.card-category {
  background-color: $bg-slate-100;
}

.card-category:hover,
.card-category:hover span::before {
  background-color: $primary;
  color: $white;
}

.dropdown-car-plate {
  background-color: $bg-slate-100;
}

.keyboard {
  color: $primary;
}

.keyboard:hover,
.keyboard:hover::before {
  background-color: $primary;
  color: $white !important;
}
